# Regrences
# - https://enu23456.hatenablog.com/entry/2022/11/24/195744
name: test
run-name: ${{ github.workflow }} (${{ github.ref_name }})

on:
  workflow_dispatch:


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup Miniforge
      uses: conda-incubator/setup-miniconda@v2
      with:
        miniforge-version: latest
        python-version: 3.12
        auto-activate-base: false
        channels: conda-forge
        # activate-environment: test  # env name
    - name: Install conda optional dependencies
      run: |
        conda install -c conda-forge -n test -y ambertools
    - run: conda info -e
    - run: conda list
    - run: which antechamber
