name: test-run-name
on:
  push:
    paths:
      - '.github/workflows/test-run-name.yaml'
  workflow_dispatch:
    inputs:
      variable:
        required: true
        type: boolean
        default: false


jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello world!"
      - run: if [ ${{ inputs.variable }} ] ; then echo "true"; else echo "false"; fi
      - run: if [ ${{ inputs.variable }} == "true" ]; then echo "true"; else echo "false"; fi
      - run: if [ ${{ inputs.variable }} == "true" ]; then echo "true"; elif [ ${{ inputs.variable }} == "false" ] ; then echo "false"; else echo "nothing"; fi
