# Regrences
# - https://enu23456.hatenablog.com/entry/2022/11/24/195744
name: test
run-name: ${{ github.workflow }} (${{ github.ref_name }})

on:
  workflow_dispatch:
  push:


jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CONDA_ENV: test

    steps:
    - uses: actions/checkout@v4
    - name: Setup Miniforge
      uses: conda-incubator/setup-miniconda@v3
      with:
        miniforge-version: latest
        python-version: 3.13
        auto-activate: true
        channels: conda-forge
        activate-environment: ${{ env.CONDA_ENV }}
        environment-file: conda-optional.yml
    - run: conda info -e
    - run: python3 --version
    - run: conda run -n ${{ env.CONDA_ENV }} python --version
    - run: conda run -n ${{ env.CONDA_ENV }} python3 --version
    - run: conda run -n ${{ env.CONDA_ENV }} python3 -m pip install jupytext
    - run: conda list -n ${{ env.CONDA_ENV }}
    - run: conda run -n ${{ env.CONDA_ENV }} python3 --version
    - run: conda activate ${{ env.CONDA_ENV }}
    - run: conda info -e
    - run: which python3
    - run: python3 --version
    - run: which jupyter
